{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>

<!-- Bold: Loyalty Points - Step 4.2 -->
 <div class="bold-loyalties-redeem"></div>
<!-- // end bold code -->

<!-- Bold: Loyalty Points - Step 4 -->
{% if shop.metafields.bold_loyalties.active == 1 %}    
 <div class="bold-loyalties-redeem-amount">or <span class="bold-placeholder"></span></div>
{% endif %}
<!-- // end bold code -->
<!-- Bold: Loyalty Points - Step 4.1 -->
<div class="bold-loyalties-earn"></div>
<!-- // end bold code -->

<!-- Bold: Loyalty Points - Step 4.3 -->
 {% include 'bold-loyalties-product' %}
<!-- // end bold code -->